$gap-color: rgba(59, 59, 59, 0.5);

.envOutput :global {
  display: flex;
  flex-direction: column;
  height: 310px;
  max-width: 100%;

  h3 {
    margin-bottom: 10px;
  }

  .examples-container {
    display: flex;
    gap: 20px;
    overflow: scroll;

    .grid-column {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}
