.taskExamples :global {
  display: flex;
  overflow-x: auto;
  gap: 20px;

  width: 100%;
  max-height: 300px;

  padding: 20px;
  border: 1px solid var(--outlineVariant);
  border-radius: 10px;
  box-shadow: 0px 0px 3px 1px color-mix(in srgb, var(--shadow) 12%, transparent);

  .single-example {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    flex: 1;
    gap: 20px;

    div {
      .title {
        margin: 0;
        width: max-content;
        color: var(--onSurfaceVariant);
      }

      .grid-container {
        width: 100px;
        height: 100px;
      }
    }
  }
}
