#root {
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.app :global {
  max-width: 100vw;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  gap: 20px;

  .demo-list {
    width: 100%;
    input {
      width: 100%;
    }
  }

  .initial-state {
    display: flex;
    gap: 20px;
    width: 100%;
    overflow-x: auto;

    .example-container {
      display: flex;
      gap: 10px;

      h4 {
        margin-bottom: 0;
      }
    }
  }
}
