@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin center-full-width {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
