// Spacing
$body-margin-mobile: 10px;
$body-margin-tablet: 15px;
$body-margin-desktop: 30px;

// Breakpoints
$bp-mobile: 480px;
$bp-tablet: 770px;
$bp-desktop: 1400px;

// Borders
$border-radius: 5px;
